body{
	height: 100%;
    background: url("Pictures/gallery/g3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.container {
    background-color:transparent !important;
}
.form-control{
    width: fit-content;
    margin-top: 10px;
  
}
.label{
   text-emphasis-color: brown;
} 
.jumbotron{
    position: relative;
    top: 0px;
    padding-top: 5px;
    height: 100px;
    background-color:transparent !important;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffe7e7;
    display: block;
    width: 200px;
  }
  
  .sidenav a:hover {
    color: #000000;
    background-color: #818181;
  }
  .sidenav i{
      margin-right: 10px;
  }
  


  
  /* Style page content */
  .main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }